apiVersion: v1
kind: Namespace
metadata:
  name: proyecto   # <- Reemplaza con el namespace que quieras usar

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: proyecto
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
    imagePullSecrets:
    - name: ghcr-secret   # <- Nombre del secret creado con tus credenciales
      containers:
        - name: backend
          image: ghcr.io/computacionwebproyecto/entrega:latest  # <- IMAGEN PUBLICADA EN GHCR
          ports:
            - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: proyecto
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend
  namespace: proyecto
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: public   # <- en MicroK8s normalmente es "public" (verifica con `kubectl get ingressclass`)
  rules:
    - host: 
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 80
